div {
	&.border_container {
		margin: 5px 0px 5px 0px;
		padding: 0px 5px 0px 5px;
		background-color: #fff;
		border-width: 1px;
		border-color: #3276b1;
		border-radius: 5px 5px 5px 5px;
		border-style:solid;
		>div {
			margin: 15px 15px 15px 15px;
		}
		>input {
			margin-bottom: 10px;
		}
	}
	h4 {
		margin-left:5px;
		color: #3276b1;
	}
	
	&.login {
	    position:absolute;
	    top: 50%;
	    left: 50%;
	    width:20em;
	    margin-top: -7em; /*set to a negative number 1/2 of your height*/
	    margin-left: -10em; /*set to a negative number 1/2 of your width*/
	    background-color: #f3f3f3;
	}
}
	
.hoverRow:hover {
	font-weight: bold;
}

	
form {
	input {
		margin-top:4px;
		margin-bottom:4px;
	}
}

.navbar-nav > li > span {
  	padding-top: 15px;
  	padding-bottom: 15px;
  	line-height: 20px;
  	position: relative;
	display: block;
}

.iframe {
	width: 640px;
	height: 870px
}

.productDetail {
	  display: block;
	  padding: 10px 10px 10px 10px;
	  margin: 10px 10px 10px 10px;
	  color: #555;
	  background-color: #fff;
	  background-image: none;
	  border: 1px solid rgba(102, 175, 233, .6);
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.productPrice {
	text-align:right;
}

.productImage > img{
	width: 80%;
	margin-left:10%;
}

.productDetail:hover{
	border: 1px solid #ccc;
  	border-radius: 4px;
    border-color: #66afe9;
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.productsContainer {
	width: 80%;
	margin-left:10%;
}

.productDescription {
	margin-top: 10px;
}

.productsFilter {
	padding: 25px 25px 25px 25px;
}

.clientsFilter {
	margin-top: 25px;
	margin-bottom: 25px;
}

.stock {
	color: red;
}

.stock.hasStock {
	color:green;
}

.myCart {
	padding-left: 5px;
	padding-right: 5px;
	color: orange;
}

.cartContainer {
	width: 80%;
	margin-left:10%;
	padding-left: 25px;
	padding-right: 25px;
}

.clientDetailsContainer {
	width: 80%;
	margin-left:10%;
	padding-left: 25px;
	padding-right: 25px;
}

.informationContainer {
	width: 80%;
	margin-left: 10%;
	padding-left: 25px;
	padding-right: 25px;
	height: 50px;
	text-align: center;
}

.quantity {
	width: 50%;
}

.mainContainer {
	margin-top: 5%;
}

.infoMessage {
	width:100%;
	height: 100%;
	padding-top:15px;
	color: green;
	background-color: rgba(0, 255, 0, 0.1);
	border: 1px solid rgba(0, 255, 0, 0.1);
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.errorMessage {
	height: 100%;
	width:100%;
	padding-top:15px;
	color: red;
	background-color: rgba(255, 0, 0, 0.1);
	border: 1px solid rgba(255, 0, 0, 0.1);
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.glyphicon-remove {
	margin-top: 10px;
	color: #595959;
}

.cartRow {
	margin-top: 8px;
}

.glyphicon-remove:hover {
	color: #BC2328;
}

.bootstrap-touchspin > input {
	text-align: center;
}

.welcome {
	margin-left:5px;
	margin-right:5px;
}

.logout {
	margin-right:15px;
}

.loginError {
	color: #BC2328;
}
.navbar-default .navbar-brand {
    color: red;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: red;
}

.logoAndAppName {
	max-width:100px;
}

.mapCanvas {
	height: 300px;
    width: 325px;
	margin-top: 23px;
}

.clientContact {
	margin: 15px 15px 15px 15px;
    padding: 0px
}

.searchClear {
	margin-right: 40px;
	margin-top: 10px;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index:3;
}

.blurry-text {
   text-shadow: 0 0 5px rgba(255,0,0,0.5);
}

.backButton {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 50%;
}

.marginButton {
	margin-top: 5px;
	margin-bottom: 5px;
}

.centerText {
	text-align: center;
}