<div class="cartContainer">
	<table class="table">
	    <thead>
	        <tr>
	        	<!-- ko if: $parent.computed.isAgent -->
        			<th class="col-sm-1 col-md-1"></th>
			        <th class="col-sm-5 col-md-4">Nume articol</th>
			        <th class="col-sm-1 col-md-2">Pre&#x21b; unitar</th>
			        <th class="col-sm-2 col-md-2">Cantitate</th>
			        <th class="col-sm-2 col-md-2">Discount special</th>
			        <th class="col-sm-1 col-md-1"></th>
        		<!-- /ko -->
        		<!-- ko ifnot: $parent.computed.isAgent -->
		        	<th class="col-sm-1 col-md-1"></th>
			        <th class="col-sm-6 col-md-5">Nume articol</th>
			        <th class="col-sm-1 col-md-2">Pre&#x21b; unitar</th>
			        <th class="col-sm-2 col-md-2">Cantitate</th>
			        <th class="col-sm-2 col-md-2"></th>
		        <!-- /ko -->
	        </tr>
	    </thead>
	    <tbody>
	    	<!-- ko foreach: $data.vm.cartData().orderItems -->
	        <tr>
	        	<td>
	        		<div class="productImage">
						<img alt="some image" data-bind="attr: {src: product.picture}">
					</div>
	        	</td>
	            <td>
	            	<div class="cartRow">
	            		<span data-bind="text: product.name"></span>
	            	</div>
	            </td>
	            <td>
		            <div class="productPrice cartRow">
		            	<label data-bind="text: price.toFixed(2) + ' RON'"></label>
		            </div>
	            </td>
	            <td>
	            	<div>
	            		<input type="text" data-bind="touchspin: unitOfMeasure, value: quantity, event: {change: $parent.methods.updateQuantity}">
	            	</div>
	            	<div class="productPrice">
	            		<label data-bind="text: amount.toFixed(2) + ' RON'"></label>
	            	</div>
	            </td>
	            <!-- ko if: $parent.computed.isAgent -->
	         	<td>
	            	<div>
	            		<input type="text" data-bind="touchspin: 'percent', value: discount, event: {change: $parent.methods.updateProductDiscount}">
	            	</div>
	            </td>
	            <!-- /ko -->
	         	<td>
	            	<div>
	            		<a href="#">
  							<span class="glyphicon glyphicon-remove" data-bind="click: $parent.methods.removeProduct"></span>
						</a>
	            	</div>
	            </td>
	    	</tr>
	    	<!-- /ko -->
	    	<tr>
	        	<td></td>
	        	<td></td>
	            <td>
	            	<div class="cartRow productPrice">
	            		<label>TOTAL:</label>
	            	</div>
	            </td>
	            <td>
	            	<div class="cartRow productPrice">
	            		<label data-bind="text: $data.vm.cartData().amount.toFixed(2) + ' RON'"></label>
	            	</div>
	            </td>
	         	<td>
	            	<div>
	            		<input type="button" class="btn btn-primary btn-block" value="Plaseaz&#259; comanda" data-bind="click: $parent.methods.placeActiveOrder">
	            	</div>
	            </td>
	    	</tr>
	    </tbody>
	</table>
</div>