
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Red B2B Portal</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav" data-bind="foreach: navbar.tabs">
					<li data-bind="'attr': {'id': $data.id}, 
									'css': {'tabLink':true, 
											'active': ($parent.navbar.selectedTab() === $data.id),
											'disabled' : (
															($data.id == 'cart' && $parent.methods.isCartEmpty()) ||
															($data.id == 'orders' && $parent.computed.isAgent() && !$parent.navbar.selectedClient().name)
											)
									}, 
									click: $parent.methods.switchTab">
						<a href="#" data-bind="text: $data.name"></a>
					</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!-- ko ifnot: $parent.methods.isCartEmpty -->
				<li>
					<span>
						<a href="#" class="myCart" data-bind="enable: !$parent.methods.isCartEmpty(), click: $parent.methods.viewCart"> Comanda curenta 
							(<span data-bind="text: $parent.computed.cartSize()">0</span>)
						</a>
					</span>
				</li>
				<!-- /ko -->
				<!-- ko if: $parent.computed.isAgent -->
		        <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
			        	<span data-bind="text: (!navbar.selectedClient().name ? 'Selecteaza client' : navbar.selectedClient().name)"></span>
						<span class="caret"></span>
					</a>
			        <ul class="dropdown-menu" role="menu" data-bind="foreach: $data.vm.clientsData">
			            <li data-bind="click: $parent.methods.selectClient"><a href="#"><span data-bind="text: name"></span></a></li>
			        </ul>
		        </li>
				<!-- /ko -->
				<li><span class="welcome">Bine ai venit, <strong><span data-bind="text: (vm.userData().firstName + ' ' + vm.userData().lastName)"></span></strong></span></li>
				<li><span class="logout"><a href="logout">Iesire</a></span></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
	<!--/.container-fluid -->
</div>
