<div class="cartContainer">
	<table class="table">
	    <thead>
	        <tr>
			        <th class="col-sm-1 col-md-1">Numar comand&#259;</th>
			        <th class="col-sm-2 col-md-2">Dat&#259; plasare</th>
			        <th class="col-sm-2 col-md-2">Dat&#259; estimat&#259; livrare</th>
			        <th class="col-sm-1 col-md-1 centerText">Pre&#x21b; total</th>
			        <th class="col-sm-1 col-md-1">Status</th>
			        <th class="col-sm-1 col-md-1"></th>
			        <th class="col-sm-1 col-md-1"></th>
	        </tr>
	    </thead>
	    <tbody>
	    	<!-- ko foreach: $data.vm.ordersData -->
	        <tr class="hoverRow" data-bind="attr: {'id' : 'orderRow' + $data.id}">
	        	<td data-bind="click: $parent.methods.viewOrder"><div class="cartRow"><span data-bind="text: $data.id"></span></div></td>
	        	<td data-bind="click: $parent.methods.viewOrder"><div class="cartRow"><span data-bind="formattedDate: $data.created"></span></div></td>
	        	<td data-bind="click: $parent.methods.viewOrder"><div class="cartRow"><span data-bind="formattedDate: $data.expectedDeliveryDate"></span></div></td>
	            <td data-bind="click: $parent.methods.viewOrder"><div class="productPrice cartRow"><span data-bind="text: $data.amount.toFixed(2) + ' RON'"></span></div></td>
	            <td data-bind="click: $parent.methods.viewOrder">
	            	<div class="cartRow">
	            		<span data-bind="orderStatus: $data.orderStatus"></span>
	            	</div>
	            </td>
	         	<td>
	            	<div>
	            		<input type="button" class="btn btn-primary btn-block" value="Anuleaz&#259;" 
	            				data-toggle="modal"
	            				data-bind="disable: $data.orderStatus === 'CANCELLED', attr: {'data-target': '#cancelOrderModal' + $data.id}">
	            	</div>
	            </td>
	            <td></td>
	    	</tr>
	    	<!-- /ko -->
	    </tbody>
	</table>
	<!-- ko foreach: $data.vm.ordersData -->
		<!-- Modal for list creation -->
					<div class="modal fade" data-bind="attr: {'id': 'cancelOrderModal' + $data.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					        <h4 class="modal-title" id="myModalLabel">Confirmare anulare comand&#259;</h4>
					      </div>
					      <div class="modal-body">
					      	<label for="listNameInput">Sigur dori&#x21b;i s&#259; anula&#x21b;i comanda?</label>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-warning" data-dismiss="modal">Renunt&#259;</button>
					        <button type="button" class="btn btn-primary" data-bind="click: $root.methods.cancelOrder">Da</button>
					      </div>
					    </div>
					  </div>
					</div>
		<!--  -->
	<!-- /ko -->
</div>
