<div class="cartContainer">
	<h4>
		<span>Comanda nr.</span>
		<label data-bind="text: ($data.id ? + $data.id: '')"></label>
		<span> din </span>
		<label data-bind="formattedDate: $data.created"></label><span>.</span>
		<span>Data estimativ&#259; pentru livrare:</span>
		<label data-bind="formattedDate: $data.expectedDeliveryDate"></label>
		<span>. Status: </span>
		<label data-bind="orderStatus: $data.orderStatus"></label>
	</h4>

	<table class="table">
	    <thead>
	        <tr>
        			<th class="col-sm-1 col-md-1"></th>
			        <th class="col-sm-5 col-md-4">Nume articol</th>
			        <th class="col-sm-1 col-md-2">Pre&#x21b; &#238;ntreg</th>
			        <th class="col-sm-1 col-md-2">Pre&#x21b;</th>
			        <th class="col-sm-2 col-md-2">Cantitate</th>
			        <th class="col-sm-2 col-md-1">Discount special</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<!-- ko foreach: $data.orderItems -->
	        <tr>
	        	<td>
	        		<div class="productImage">
						<img alt="some image" data-bind="attr: {src: product.picture}">
					</div>
	        	</td>
	            <td>
	            	<div class="cartRow">
	            		<span data-bind="text: product.name"></span>
	            	</div>
	            </td>
	            <td>
		            <div class="productPrice cartRow">
		            	<span data-bind="text: price.toFixed(2) + ' RON'"></span>
		            </div>
	            </td>
	            <td>
		            <div class="productPrice cartRow">
		            	<span data-bind="text: amount.toFixed(2) + ' RON'"></span>
		            </div>
	            </td>
	            <td>
	            	<div class="productPrice cartRow">
	            		<span data-bind="text: quantity + ' ' + unitOfMeasure"></span>
	            	</div>
	            </td>
	            <td>
	            	<div class="productPrice cartRow">
	            		<span data-bind="text: discount > 0 ? discount + ' %' : '-'"></span>
	            	</div>
	            </td>
	            <td></td>
	    	</tr>
	    	<!-- /ko -->
	    	<tr>
	        	<td></td>
	        	<td></td>
	        	<td>
	            	<div class="cartRow productPrice">
	            		<label>TOTAL:</label>
	            	</div>
	            </td>
	            <td>
	            	<div class="cartRow productPrice">
	            		<label data-bind="text: $data.amount ? $data.amount.toFixed(2) + ' RON' : ''"></label>
	            	</div>
	            </td>
	    		<td></td>
	            <td></td>
	        	<td></td>
	        </tr>
	    </tbody>
	</table>
	<table class="table">
	    <thead>
	        <tr>
        		<th class="col-sm-5 col-md-2"></th>
        		<th class="col-sm-5 col-md-2"></th>
        		<th class="col-sm-2 col-md-10"></th>
		    </tr>
	    </thead>
	    <tbody>
	        <tr>
				<td>
		            <div>
						<input type="button" class="btn btn-primary btn-block" value="Ini&#x21b;iaz&#259; sesizare" data-bind="disable: true">
					</div>
				</td>
				<td>
		            <div>
						<input type="button" class="btn btn-success btn-block" value="&#206;napoi" data-bind="click: $root.methods.viewOrders">
					</div>
				</td>
				<td></td>
			</tr>
	    </tbody>
	</table>
</div>