<div class="productsContainer">
				<div class="productImage col-sm-12 col-md-4">
					<img alt="some image" data-bind="attr: {src: picture}">
				</div>
				<div class="col-sm-12 col-md-3">
				<div class="productInfo">
					<h5 data-bind="text: name"></h5>
					<label class="stock" data-bind="text: hasStock ? 'In stoc' : 'Stoc epuizat', css: {hasStock: hasStock}"></label>
				</div>
				<table>
						<tr>
							<td class="quantity">
								<div data-bind="attr: {id: 'quantityDiv' + id}">
			        				<input class="quantitySelector" type="text" data-bind="value: quantity, touchspin: 'small', disable: !hasStock">
			    				</div>
		    				</td>
		    				<td>
								<div class="productPrice">
									<h3>
										<strong data-bind="text: price"></strong>
									</h3>
									<span>RON / </span><span data-bind="text: unitOfMeasure"></span>
								</div>
							</td>
    					</tr>
    			</table>
				<div class="addToCart">
					<input type="button" class="btn btn-primary btn-block" value="Adauga la comanda curenta" data-bind="click: $parent.methods.addToCart, disable: !hasStock || quantity()==='0'">
				</div>
				</div>
</div>